.*
*.o
*.a
*.exe
nbproject
sqlite-amalgamation*
entry_parse.c
deen
deen-*-test
leidx2/lefiletoolstest
leidx2/leidxdumptest
leidx2/leidxindextest
leidx2/leidxoptimisetest
leidx2/leidxsearchtest
leidx2/leucconverttest
leidx2/testoutputs/*
